.comicdiv{
    position: relative;
    z-index: -1;
}
.none {
    display: none;
}
.loader {
    margin: 50% 40%;
    width: 25%;
    height: 17%;
    animation: spin 3s linear infinite;
    position: absolute;
}
.loadicon{
    width: 100%;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.r-corner{
    float: right !important;
    z-index: 2;
}
.r-middle{
    position: absolute;
    right: 35%;
    z-index: 2;
}
.l-corner{
    float: left !important;
    z-index: 2;
}
.l-middle{
    position: absolute;
    left: 35%;
    z-index: 2;
}
.pagenumber{
    display: inline-block;
    font-size: 1.8em;
    position: absolute;
    left: 47.5%;
    z-index: 2;
}
.one-third{
    max-width: 30%;
}
.one-fourth{
    max-width: 22%;
}
.comicpage{
    margin:2% 0 2% 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}