.page-footer{
    background-color: #212121
}
.footer-header{
    color: #e9e9e9;
}
.disclaimer{
    color:  #555555;
    font-size: 0.8em;
}
i{
    font-size: 3em;
    padding: 0 1% 0 1%;
}
a{
    outline: none;
    color: #a0a0a0;
    text-decoration: none;
}
a:hover{
    color: #c7f8f8 !important;
    text-decoration: none;
}
.disabled:hover{
    color: #767676 !important;
    cursor: not-allowed;
}
body{
    background-color: #f5f5f5 !important;
    color: #010e0d;
}
.bg-color-darkergray{
    background-color: #e9e9e9 !important;
  }
.clickable{
    filter: grayscale(40%);
    cursor: pointer;
}
.clickable:hover{
    filter: grayscale(0);
}
#navbar-logo{
    max-width: 60px !important;
}
.min-height{
    min-height: 90vh;
}
.paragraph{
    font-size: 1em;
  }
h1{
    font-size: 1.7em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.3em;
}
h4{
    font-size: 1.1em;
}
.darkbg{
    background-color: #96989b;
    border-radius: 5px 0 0 5px;
}
.saturate{
    filter: saturate(75%);
}
.saturate:hover{
    filter: saturate(100%);
}
.chardesc{
    padding-top:1.5em;
}
.bg-img-home{
    background-image: url('/Images/Taustat/Home1.png');
    background-repeat: no-repeat;
    background-position-y: 15vh;
    background-position-x: -60vw;
    background-size: 100vh;
}
.bg-img-home2{
    background-image: url('/Images/Taustat/Home2.png');
    background-repeat: no-repeat;
    background-position-y: 35vh;
    background-position-x: -20vw;
    background-size: 100vh;
}
.bg-img-comic{
    background-image: url('/Images/Taustat/Comic.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-y: 5vh;
    background-position-x: 0vw;
}
.bg-img-fanmail{
    background-image: url('/Images/Taustat/Faniposti.png');
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position-y: -5vh;
    background-position-x: -30vh;
}
.bg-img-media{
    background-image: url('/Images/Taustat/media_wr.png');
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position-y: -2vh;
    background-position-x: -20vh;
}
.jääprinsessa{
    color:#d3a0f1;
}
.lady{
    color:#6c75ec;
}
.macho{
    color:#b6ea64;
}
.pikkuveli{
    color:#f85555;
}
.rumba{
    color:#ece061;
}
.tonnikala{
    color:#f89a55;
}
.direction{
    color: #5d7e7e;
    text-decoration-line: underline;
}
.direction:hover{
    color: #84b6b6 !important;
}
@media only screen and (min-width: 560px) {
    .min-height{
        min-height: 80vh;
    }
    .paragraph{
        font-size: 1.2em;
    }
    h1{
        font-size: 1.8em;
    }
    h2{
        font-size: 1.6em;
    }
    h3{
        font-size: 1.4em;
    }
    h4{
        font-size: 1.2em;
    }
    .bg-img-home{
        background-image: url('/Images/Taustat/Home1.png');
        background-repeat: no-repeat;
        background-position-y: 35vh;
        background-position-x: -30vw;
        background-size: 150vh;
    }
    .bg-img-home2{
        background-image: url('/Images/Taustat/Home2.png');
        background-repeat: no-repeat;
        background-position-y: 65vh;
        background-position-x: 30vw;
        background-size: 150vh;
    }
    .bg-img-comic{
        background-image: url('/Images/Taustat/Comic.png');
        background-repeat: no-repeat;
        background-size: 55vw;
        background-position-y: 5vh;
        background-position-x: 50vw;
    }
    .bg-img-fanmail{
        background-image: url('/Images/Taustat/Faniposti.png');
        background-repeat: no-repeat;
        background-size: 100vw;
        background-position-y: -7vh;
        background-position-x: -20vw;
    }
    .bg-img-media{
        background-image: url('/Images/Taustat/media_wr.png');
        background-repeat: no-repeat;
        background-size: 85vw;
        background-position-y: 0vh;
        background-position-x: -20vh;
    }

}
@media only screen and (min-width: 767px) {
    .min-height{
        min-height: 100vh;
    }
    .paragraph{
        font-size: 1.3em;
    }
    h1{
        font-size: 2.1em;
    }
    h2{
        font-size: 1.8em;
    }
    h3{
        font-size: 1.5em;
    }
    h4{
        font-size: 1.3em;
    }
    .bg-img-home{
        background-image: url('/Images/Taustat/Home1.png');
        background-repeat: no-repeat;
        background-position-x: -40vw;
        background-size: 100vh;
    }
    .bg-img-home2{
        background-image: url('/Images/Taustat/Home2.png');
        background-repeat: no-repeat;
        background-position-x: -10vw;
        background-size: 100vh;
    }
    .bg-img-comic{
        background-image: url('/Images/Taustat/Comic.png');
        background-repeat: no-repeat;
        background-size: 70vh;
        background-position-y: 5vh;
        background-position-x: 5vw;
    }
    .bg-img-fanmail{
        background-image: url('/Images/Taustat/Faniposti.png');
        background-repeat: no-repeat;
        background-size: 70vw;
        background-position-y: 5vh;
        background-position-x: -20vw;
    }
    .bg-img-media{
        background-image: url('/Images/Taustat/media_wr.png');
        background-repeat: no-repeat;
        background-size: 100vh;
        background-position-y: 0vh;
        background-position-x: -10vh;
    }
}
@media only screen and (min-width: 800px) {
    .min-height{
        min-height: 90vh;
    }
    .bg-img-home{
        background-image: url('/Images/Taustat/Home1.png');
        background-repeat: no-repeat;
        background-position-y: 30vh;
        background-position-x: -20vw;
        background-size: 100vh;
    }
    .bg-img-home2{
        background-image: url('/Images/Taustat/Home2.png');
        background-repeat: no-repeat;
        background-position-y: 50vh;
        background-position-x: 55vw;
        background-size: 100vh;
    }
    .bg-img-comic{
        background-image: url('/Images/Taustat/Comic.png');
        background-repeat: no-repeat;
        background-size: 100vw;
        background-position-y: 0vh;
        background-position-x: 0vw;
    }
    .bg-img-fanmail{
        background-image: url('/Images/Taustat/Faniposti.png');
        background-repeat: no-repeat;
        background-size: 70vw;
        background-position-y: 5vh;
        background-position-x: -20vw;
    }
    .bg-img-media{
        background-image: url('/Images/Taustat/media_wr.png');
        background-repeat: no-repeat;
        background-size: 85vh;
        background-position-y: 0vh;
        background-position-x: -5vh;
    }
}
@media only screen and (min-width: 992px) {
    .min-height{
        min-height: 100vh;
    }
    .chardesc{
        padding-top:0.5em;
    }
    .bg-img-home{
        background-image: url('/Images/Taustat/Home1.png');
        background-repeat: no-repeat;
        background-position-y: 20vh;
        background-position-x: -20vw;
        background-size: 100vh;
    }
    .bg-img-home2{
        background-image: url('/Images/Taustat/Home2.png');
        background-repeat: no-repeat;
        background-position-y: 40vh;
        background-position-x: 45vw;
        background-size: 100vh;
    }
    .bg-img-comic{
        background-image: url('/Images/Taustat/Comic.png');
        background-repeat: no-repeat;
        background-size: 80vh;
        background-position-y: 5vh;
        background-position-x: 55vw;
    }
    .bg-img-fanmail{
        background-image: url('/Images/Taustat/Faniposti.png');
        background-repeat: no-repeat;
        background-size: 80vh;
        background-position-y: 5vh;
        background-position-x: 55vw;
    }
    .bg-img-media{
        background-image: url('/Images/Taustat/media_wr.png');
        background-repeat: no-repeat;
        background-size: 85vh;
        background-position-y: 0vh;
        background-position-x: -10vh;
    }
}
@media only screen and (min-width: 1199px) {
    .min-height{
        min-height: 90vh;
    }
    .chardesc{
        padding-top:2em;
    }
    .bg-img-home{
        background-image: url('/Images/Taustat/Home1.png');
        background-repeat: no-repeat;
        background-size: 80vw;
        background-position-y: 0vh;
        background-position-x: -15vw;
    }
    .bg-img-home2{
        background-image: url('/Images/Taustat/Home2.png');
        background-repeat: no-repeat;
        background-size: 60vw;
        background-position-y: 40vh;
        background-position-x: 55vw;
    }
    .bg-img-comic{
        background-image: url('/Images/Taustat/Comic.png');
        background-repeat: no-repeat;
        background-size: 80vh;
        background-position-y: 5vh;
        background-position-x: 55vw;
    }
    .bg-img-fanmail{
        background-image: url('/Images/Taustat/Faniposti.png');
        background-repeat: no-repeat;
        background-size: 80vh;
        background-position-y: 5vh;
        background-position-x: 55vw;
    }
    .bg-img-media{
        background-image: url('/Images/Taustat/media_wr.png');
        background-repeat: no-repeat;
        background-size: 100vh;
        background-position-y: -5vh;
        background-position-x: -10vh;
    }
}